.section {
    padding: 10px;
}

.profile-pic {
    display: flex;
    justify-content: center;
}

.profile-pic img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}